{% extends "layout.html" %}
{% block body%}

    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}</p>
    <br>
{% endif %}
<div class="container">
    <div class="card" style="width: 75%; margin: auto">
        <div class="card-body">
            <form method="POST">
                <h2 class="card-title" align="center"> Search Jobs to Delete / Update (for Admin)</h2>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        I want to search by
                         <select name="attr" class="styled-selects">
                            <option value="name">name</option>
                            <option value="salary">salary</option>
                            <option value="skill">skill/requirement</option>
                        </select> with the keyword: <input type=text name="keyword" placeholder="(Required)">
                    </li>
                    <li class="list-group-item">
                        Posting time from <input type=date name="pt_from" placeholder="YYYY-MM-DD (Optional)">
                        to <input type=date name="pt_to" placeholder="YYYY-MM-DD (Optional)">
                    </li>
                    <li  class="list-group-item">
                        In the order of
                         <select name="order">
                            <option value="DESC">descendant</option>
                            <option value="ASC">ascendant</option>
                        </select>
                        <select name="order_attr">
                            <option value="pt">posting time</option>
                            <option value="id">ID</option>
                            <option value="name">name</option>
                            <option value="lows">lowest salary</option>
                            <option value="highs">highest salary</option>
                        </select>
                    </li>
                    <li  class="list-group-item">
                       <b>Do you want to keep a job after delete all its vacancies?</b>
                        <select name="keep">
     <option value="No">No</option>
    <option value="Yes">Yes</option>

</select>
                     <li  class="list-group-item">
                        Show <input type=text name="limit" placeholder="(Optional)"> record(s)
                    </li>

                    <input class="btn btn-primary" type=submit value=Search>
                </ul>
        </form>
    </div>
    </div>
</div>

{% if show==1 %}

<div class="card text-center">
  <div class="card-header">
    Search Result(s)
  </div>
  <div class="card-body">
   <div class="card-footer text-muted">
  Search by: {{keyfield}} with key word: {{keyword}}. Show {{shownum}} records! And Your "keep Job with no vacancy" choice is: {{keep}}
  </div>
    <div class="card-text center">
      <table border="1">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Salary from</th>
        <th>Salary to</th>
        <th>Frequency</th>
        <th>Posting time</th>
        <th>Delete</th>
      </tr>
    {% for n in data %}
    <tr>
    <td>&nbsp{{n[0]}}</td>
    <td>&nbsp{{n[1]}}</td>
    <td>&nbsp{{n[2]}}</td>
    <td>&nbsp{{n[3]}}</td>
    <td>&nbsp{{n[4]}}</td>
    <td>&nbsp{{n[5]}}</td>
    <td>&nbsp{{n[6]}}</td>
    <td>
    <form action="{{ url_for('admin_delete') }}" method=post>
        <input type=hidden name=jid value={{n[0]}}>
        <input type=hidden name=vtype value={{n[2]}}>
        <input type=hidden name=keep value={{keep}}>
        <input type=submit value="Delete" class="btn btn-danger">
    </form>
    </td>
    </tr>
    {% endfor %}
    </table>
    </div>
  </div>

</div>
    <br/>
  {%endif%}
<button class="btn btn-dark" onclick="goBack()">Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>


{% endblock %}