{% extends "layout.html" %}
{% block body%}
{% if error %}
    <p class=error>
        <strong>Error:</strong> {{ error }}
    </p>
    <br>
{% endif %}
    {% if show ==1 %}
<div class="welcome">
    Your application for job: <b>{{jid}}, {{vtype}}</b> has been received!
</div>
        <br>
    {% endif %}
<button class="btn btn-dark" onclick="goBack()">Back</button>
<button class="btn btn-dark" onclick="window.location.href = '/';">Back home</button>
<script>
function goBack() {
    window.history.back();
}
</script>
{% endblock %}
