{% extends "layout.html" %}
{% block body%}

<div class="card border-dark mb-3">
    <div class="card-header" style="position: relative">
    <b>Job:</b> {{jid}}, {{vtype}}
    <form action="{{ url_for('apply') }}" method=post style="display: inline; position: absolute; right:10px; top: 4px;">
            <input type=hidden name=jid value={{jid}}>
            <input type=hidden name=vtype value={{vtype}}>
            <input type=submit value="Apply now" class="btn btn-primary">
      </form>

    </div>

  <div class="card-body text-dark">
    <h5 class="card-title">Position Information</h5>
    <div class="card-text">
          <table border="1">
    {% for h, t in zippedlist %}
    <tr>
        <td style="color: #377ba8; text-align: center; font: 16px bold; width: 15%; padding: auto"> &nbsp{{h}} </td>
        <td> &nbsp{{t}} </td>
    </tr>
    {% endfor %}
    </table>
    </div>
  <div>
      <br>
    <button  class="btn btn-dark" style="display: inline" onclick="goBack()">Back</button>
    <button class="btn btn-dark" onclick="window.location.href = '/';">Back home</button>
  </div>
  </div>
</div>



<br/>



<script>
function goBack() {
    window.history.back();
}
</script>
{% endblock %}
