{% extends "layout.html" %}
{% block body%}

<button class="btn btn-dark" onclick="window.location.href = '/';">Back home</button>
<div class="card-columns" style="margin: 5% 5% 5% 5%">

<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header">Statistics!</div>
  <div class="card-body">
    <h5 class="card-title">Current System Status</h5>
    <p class="card-text">
        There are currently <b>{{jobnum}}</b> Jobs in our system!<br>
        There are currently <b>{{usernum}}</b> Users using our system!<br>
        There are currently <b>{{appnum}}</b> Applications submitted!<br>
    </p>
  </div>
</div>

<div class="card mb-3" style="max-width: 20rem;">
  <div class="card-header">Plot Here</div>
  <div class="card-body">
    <h5 class="card-title">Show Salary Distribution</h5>
    <div class="card-text" style="position: relative">
      <form method="POST">
        <div>
            <b>Salary Frequency:</b>
            <select name="attr" style="position: absolute; right: 5%">
                <option value="Annual">Annual</option>
                <option value="Daily">Daily</option>
                <option value="Hourly">Hourly</option>
            </select><br/>
            <b>Salary Type:</b>
            <select name="attr2" style="position: absolute; right: 5%">
                <option value="lower">Lower Bound</option>
                <option value="upper">Upper Bound</option>
            </select>


        </div>
           <br>
        <input class="btn btn-primary" type=submit value="Show Results">
      </form>


  </div>
</div>
</div>

    {% if show ==1 %}
<div class="card" style="width: max-content">
  <h5 class="card-header" >Salary Distribution</h5>
  <div class="card-body">
    <canvas id="circle" width="600" height="400" style="width: auto">Browser not support Canvas!</canvas>
      <p class="card-text"><b>{{txt}}</b></p>
  </div>
</div>
    {%endif%}
</div>



<script type="text/javascript">

var color = ["#27255F","#2F368F","#3666B0","#2CA8E0","#77D1F6"];
var data = {{data}};
var low = {{low}};
var high = {{high}};
var ox = 180;
var oy = 180;
var radius = 150;
var width = 30;
var height = 10;
var posX = ox * 2 +5, posY = 30;
var textX = posX + width + 5, textY = posY + 10;
var canvas = document.getElementById("circle");

function drawCircle(){
	var ctx = canvas.getContext("2d");
	var startPoint=0;
	for(var i=0;i<data.length;i++){
		ctx.fillStyle = color[i];
		ctx.beginPath();
		ctx.moveTo(ox,oy);
		ctx.arc(ox,oy,radius,startPoint,startPoint+Math.PI*2*(data[i]/100),false); // fill the circle
		ctx.closePath();
		ctx.fill();
		ctx.fillStyle = color[i];
		ctx.fillRect(posX, posY + 20 * i, width, height); //sample color
		ctx.font = 'bold 15px';
		ctx.fillStyle = "#000";
		var text = "Salary from " + low[i] + " to " + high[i] + "：" + data[i] + "%";
		ctx.fillText(text, textX, textY + 20 * i);
		startPoint+=Math.PI*2*(data[i]/100);

	}
}
drawCircle();

</script>

{% endblock %}
